<p-toolbar class="page-header">
  <div class="p-toolbar-group-left">
    <p-breadcrumb [model]="breadcrumbItems" homeIcon="pi pi-home"></p-breadcrumb>
  </div>

  <div class="p-toolbar-group-right">
    <p-button
      label="Print"
      icon="pi pi-print"
      severity="success"
      (click)="printSticker('sticker-print-section')">
    </p-button>
    <p-button class="ml-2"
      label="Back"
      icon="pi pi-arrow-left"
      severity="secondary"
      (click)="back()" >
    </p-button>
  </div>
</p-toolbar>

<p-card *ngIf="printData() as sticker">
  <div id="sticker-print-section">
    <div class="app-sticker" [ngStyle]="stickerStyle(sticker)">
      <ng-container *ngFor="let field of fields(sticker)">
        <div
          *ngIf="field.fieldKey !== 'barcode'"
          class="sticker-field"
          [class.company-code]="field.fieldKey === 'companyShortName'"
          [class.slot-hidden]="!field.isVisible"
          [ngStyle]="fieldStyle(field, sticker)">
          {{ fieldValue(sticker, field.fieldKey) }}
        </div>

        <div
          *ngIf="field.fieldKey === 'barcode'"
          class="sticker-field barcode-field"
          [class.slot-hidden]="!field.isVisible"
          [ngStyle]="fieldStyle(field, sticker)">
        <ngx-barcode6
          [bc-value]="sticker.barcode"
          [bc-format]="'CODE128B'"
          [bc-width]="3"
          [bc-height]="30"
          [bc-margin]="0"
          [bc-font-size]="14"
          [bc-display-value]="false"
          [bc-margin-top]="0"
          [bc-margin-bottom]="0">
        </ngx-barcode6>
        </div>
      </ng-container>
    </div>
  </div>
</p-card>
