<div *ngIf="dataList().length > 0; else noData">

    <p-virtualScroller
        [items]="dataList()"
        [itemSize]="72"
        scrollHeight="calc(100vh - 180px)"
        styleClass="w-full">

        <ng-template pTemplate="item" let-item  let-options="options">

            <p-card class="mb-2 compact-card">

                <div class="grid text-sm">

                    <!-- Left -->
                    <div class="col-8">

                        <div class="font-semibold">
                            {{ options.index + 1 }} #{{ item.id }}
                            <span class="mx-1">|</span>
                            {{ item.supplierBillNumber }}
                        </div>

                        <div class="text-600 mt-1 truncate">
                            {{ item.supplierName }}
                        </div>

                    </div>

                    <!-- Right -->
                    <div class="col-4 text-right">

                        <div *ngIf="item.lrNumber"
                             class="text-xs font-medium text-primary">
                            LR: {{ item.lrNumber }}
                        </div>

                        <div class="text-xs text-500 mt-1">
                            {{ item.date | date:'dd/MM/yyyy' }}
                        </div>

                    </div>

                </div>

            </p-card>

        </ng-template>

    </p-virtualScroller>

</div>

<ng-template #noData>
    <div class="text-center text-500 mt-3">
        No vouchers found
    </div>
</ng-template>

<div class="flex justify-content-center mt-3">

    <button
        pButton
        label="Export"
        icon="pi pi-download"
        class="p-button-sm p-button-success"
        [disabled]="!dataList().length"
        (click)="exportAll()">
    </button>

</div>