<p-menubar [style]="{'background-color':'#1976d2','color':'white'}">
      <ng-template pTemplate="start">
        <button pButton icon="pi pi-bars" class="p-button-text" (click)="toggleSidebar()"></button>
        <span class="app-title">{{roleName}}</span>
      </ng-template>
      <ng-template pTemplate="end">
        <button pButton icon="pi pi-bell" class="p-button-rounded p-button-text" pBadge="15" badgeSeverity="danger"></button>
        <button pButton icon="pi pi-user" label="Profile" (click)="menu.toggle($event)" class="p-button-text"></button>
        <p-menu #menu [model]="items" [popup]="true" />
      </ng-template>
    </p-menubar>