<p-toolbar class="page-header">
  <div class="p-toolbar-group-left">
    <p-breadcrumb [model]="breadcrumbItems" homeIcon="pi pi-home"></p-breadcrumb>
  </div>
  <div class="p-toolbar-group-right">
    <p-button label="Add SaleVoucher" class="p-button-sm mr-2" (click)="add()"  variant="text" [raised]="true" icon="pi pi-plus"/>
    <p-button label="Export" variant="text" icon="pi pi-file-export" [raised]="true" severity="secondary" />
  </div>
</p-toolbar>

<p-card>
    <div class="d-flex justify-content-between mb-3">

      <div class="flex-grow-1" style="max-width:300px">
        <p-floatlabel variant="on">
          <input pInputText id="on_label" [formControl]="searchControl" autocomplete="off" />
          <label for="on_label">Search keyword</label>
        </p-floatlabel>
      </div>

      <ng-container *ngIf="isLoading()">
        <p-buttonGroup>
         <p-menu #menuItem [model]="pageSizeItems" [popup]="true" />
          <p-button (click)="menuItem.toggle($event)" label="{{pageSize}}" outlined severity="secondary"></p-button>        
          <p-button label="Total ({{tblResult().totalRows}})" disabled outlined></p-button>

       <p-button icon="pi pi-angle-left"
            outlined (click)="onPrevious()"></p-button>

          <p-button label="{{ pageindex() + 1 }}/{{ numberofPage() }}"
            disabled outlined></p-button>

          <p-button icon="pi pi-angle-right"
            outlined (click)="onNext()"></p-button>
        </p-buttonGroup>
      </ng-container>

    </div>

      <!-- TABLE -->
    <ng-container *ngIf="isLoading()">
     <p-table [value]="tblResult().result" [lazy]="true"
  (onLazyLoad)="onLazyLoad($event)"
  [sortField]="sortField" [lazyLoadOnInit]="false"
  [sortOrder]="sortOrder" size="small" showGridlines class="p-datatable-sm">

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="date">
          <div class="supplier-header">
              <span class="header-title">Date</span>&nbsp;
              <p-sortIcon field="date"></p-sortIcon>
                 </div>
       </th>
   <th pSortableColumn="saleVoucherNumber">
  <app-table-header
    title="Parcel Number"
    field="saleVoucherNumber"
    [sortable]="true"
    filterType="number"
    placeholder="Enter Parcel No"
    [(value)]="saleVoucherNumber"
    (onApply)="applyFilter($event.field, $event.value)"
    (onClear)="clearFilter($event)">
  </app-table-header>
</th>
           
   <th pSortableColumn="supplierName">
 <app-table-header
  title="Supplier"
  field="supplierName"
  filterType="text"
  placeholder="Search Supplier"
  [(value)]="supplierInput"
  (onApply)="applyFilter($event.field, $event.value)"
  (onClear)="clearFilter($event)">
</app-table-header>
</th>
    <th pSortableColumn="billNumber">
          <div class="supplier-header">
              <span class="header-title">Supplier Invoice No.</span>&nbsp;
              <p-sortIcon field="billNumber"></p-sortIcon>
                 </div>
    </th>
       <th>
        Products
       </th>
     <th pSortableColumn="tranportName">
  <app-table-header
    title="Transport"
    field="tranportName"
    filterType="text"
    placeholder="Search Transport"
    [(value)]="transportInput"
    (onApply)="applyFilter($event.field, $event.value)"
    (onClear)="clearFilter($event)">
  </app-table-header>
</th>
    <th pSortableColumn="parcelStatus">
  <app-table-header
  title="Status"
  field="parcelStatus"
  filterType="select"
  [options]="parcelStatusList"
  matchMode="equals"
  placeholder="Select Status"
  [(value)]="statusInput"
  (onApply)="applyFilter($event.field, $event.value)"
  (onClear)="clearFilter($event)">
</app-table-header>
</th>
        <th>Action</th>
        </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row>
          <tr>
            <td>{{row.date | date:'dd, MMMM, yyyy'}}</td>
            <td>{{ row.id }}</td>
            <td>{{row.supplierName}}</td>
            <td>{{row.billNumber}}</td>
         <td>
            <ng-container *ngIf="row.productDetails.length > 15; else shortText">
             <span *ngIf="!row.expanded">
               {{ row.productDetails | slice:0:15 }} 
                <a href="#" (click)="row.expanded = true; $event.preventDefault()">... see more</a>
             </span>
             <span *ngIf="row.expanded">
               {{ row.productDetails }} 
                <a href="#" (click)="row.expanded = false; $event.preventDefault()"> see less</a>
             </span>
           </ng-container>
           <ng-template #shortText>{{ row.productDetails }}</ng-template>
          </td>
            <td>{{row.tranportName}}</td>
            <td>
              <p-tag [severity]="ParcelStatusHelper.getParcelStatusColor(row.parcelStatus)" [value]="ParcelStatusHelper.getParcelStatusText(row.parcelStatus)" />
            </td>
            <td>
              <span class="px-2 py-1 rounded bg-blue-50 text-blue-600 cursor-pointer hover:bg-blue-100"
                 (click)="openMenu($event, row)">
                  <i class="pi pi-ellipsis-v"></i>
               </span>
            </td>
          </tr>
        </ng-template>

      </p-table>
    </ng-container>

</p-card>

<p-menu #menu [model]="items" [popup]="true"></p-menu>


