<p-toolbar class="page-header">
  <div class="p-toolbar-group-left">
    <p-breadcrumb [model]="breadcrumbItems" homeIcon="pi pi-home"></p-breadcrumb>
  </div>
  <div class="p-toolbar-group-right">
    <p-button label="Add SaleVoucher" class="p-button-sm mr-2" (click)="add()"  variant="text" [raised]="true" icon="pi pi-plus"/>
    <p-button label="Export" variant="text" icon="pi pi-file-export" [raised]="true" severity="secondary" />
  </div>
</p-toolbar>

<p-card>
    <div class="d-flex justify-content-between mb-3">

      <div class="flex-grow-1" style="max-width:300px">
   
        <p-floatlabel variant="on">
          <input pInputText id="on_label" [formControl]="searchControl" autocomplete="off" />
          <label for="on_label">Search keyword</label>
        </p-floatlabel>
      </div>

      <ng-container>
     <div class="custom-paginator">
      <p-buttonGroup>
      <p-menu #menuItem [model]="pageSizeItems" [popup]="true" />
      <p-button  icon="pi pi-file-filter"
        (click)="menuItem.toggle($event)" 
        label="{{pageSize}}" 
        outlined 
        severity="secondary">
      </p-button>        

      <p-button 
        label="Total ({{tblResult().totalRows}})" 
        disabled 
        outlined>
      </p-button>

      <p-button 
        icon="pi pi-angle-left"
        outlined 
        (click)="onPrevious()">
      </p-button>

      <p-button 
        label="{{ pageindex() + 1 }}/{{ numberofPage() }}"
        disabled 
        outlined>
      </p-button>

      <p-button 
        icon="pi pi-angle-right"
        outlined 
        (click)="onNext()">
      </p-button>

    </p-buttonGroup>
    </div>
   </ng-container>

    </div>

        
    <ng-container>
  
     <p-table #dt1 [value]="tblResult().result" [lazy]="true"
       (onLazyLoad)="onLazyLoad($event)"
       [sortField]="sortField" [lazyLoadOnInit]="false"
       [sortOrder]="sortOrder" size="small" showGridlines class="p-datatable-sm">

        <ng-template pTemplate="header">
         
          <tr>
              <th>
                  <i class="pi pi-filter-slash cursor-pointer" (click)="clear(dt1)"></i>
              </th>
             <th pSortableColumn="date">
                 <div class="flex align-items-center gap-2">
                       <span>Date</span>
                       <p-sortIcon field="date"></p-sortIcon>

                       <p-columnFilter 
                         field="date"
                         display="menu"
                         matchMode="between"
                         [showMatchModes]="false"
                         [showOperator]="false"
                         [showAddButton]="false"
                         [showClearButton]="false" [showApplyButton]="false">

                         <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-datePicker 
                                    [(ngModel)]="tempDateRange"
                                    selectionMode="range"
                                    [readonlyInput]="true"
                                    dateFormat="dd/mm/yy">
                        </p-datePicker>
                       <div class="flex justify-content-between mt-2">
                          
                          <button type="button" class="p-button p-button-sm p-button-secondary"
                              (click)="clearDateFilter(filter)">
                            Clear</button>
                            <button type="button" class="p-button p-button-sm p-button-primary" 
                             (click)="applyDateFilter(filter)">
                            Apply</button>
                            
                        </div>
                      </ng-template>
                    </p-columnFilter>
                 </div>
            </th>
             <th pSortableColumn="saleVoucherNumber">
              <div class="flex align-items-center gap-2">
                 <span>Parcel No</span>
                 <p-sortIcon field="saleVoucherNumber"></p-sortIcon>
                    <p-columnFilter 
                        type="numeric"
                        field="saleVoucherNumber"
                        display="menu"
                        matchMode="equals"
                        [showMatchModes]="false"
                        [showOperator]="false"
                       [showAddButton]="false">
                    </p-columnFilter>
              </div>
             </th>
            <th pSortableColumn="supplierName">
               <div class="flex align-items-center gap-2">
              <span>Supplier</span>
                <p-sortIcon field="supplierName"></p-sortIcon>
                  <p-columnFilter 
                        type="text"
                        field="supplierName"
                        display="menu"
                        matchMode="contains"
                        [showMatchModes]="false"
                        [showOperator]="false"
                        [showAddButton]="false">
                 </p-columnFilter>
                 </div>
            </th>
           <th pSortableColumn="billNumber">
              <div class="flex align-items-center gap-2">
                 <span>SupplierInvoice</span>
                 <p-sortIcon field="billNumber"></p-sortIcon>
                    <p-columnFilter 
                        type="numeric"
                        field="billNumber"
                        display="menu"
                        matchMode="equals"
                        [showMatchModes]="false"
                        [showOperator]="false"
                       [showAddButton]="false">
                    </p-columnFilter>
              </div>
           </th>
           <th>
             Products
          </th>
          <th pSortableColumn="tranportName">
           <div class="flex align-items-center gap-2">
             <span>Transport</span>
             <p-sortIcon field="tranportName"></p-sortIcon>
               <p-columnFilter 
                  type="text"
                  field="tranportName"
                  display="menu"
                  matchMode="contains"
                  [showMatchModes]="false"
                  [showOperator]="false"
                  [showAddButton]="false">
                </p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="parcelStatus">
            <div class="flex align-items-center gap-2">
              <span>Status</span>
               <p-sortIcon field="parcelStatus"></p-sortIcon>
                <p-columnFilter 
                  field="parcelStatus"
                  matchMode="equals"
                  display="menu"
                  [showMatchModes]="false"
                  [showOperator]="false"
                  [showAddButton]="false">

                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
               <p-select 
                  [options]="parcelStatusList"
                  optionLabel="label"
                  optionValue="value"
                  [ngModel]="value"
                  (onChange)="filter($event.value)">
            </p-select>
      </ng-template>

               </p-columnFilter>
            </div>
          </th>
        <th>Action</th>
        </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row>
          
          <tr>
            <td></td>
            <td>{{row.date | date:'dd, MMMM, yyyy'}}</td>
            <td style="text-align: center;">{{ row.id }}</td>
            <td>{{row.supplierName}}</td>
            <td style="text-align: center;">{{row.billNumber}}</td>
         <td>
            <ng-container *ngIf="row.productDetails.length > 15; else shortText">
             <span *ngIf="!row.expanded">
               {{ row.productDetails | slice:0:15 }} 
                <a href="#" (click)="row.expanded = true; $event.preventDefault()">... see more</a>
             </span>
             <span *ngIf="row.expanded">
               {{ row.productDetails }} 
                <a href="#" (click)="row.expanded = false; $event.preventDefault()"> see less</a>
             </span>
           </ng-container>
           <ng-template #shortText>{{ row.productDetails }}</ng-template>
          </td>
            <td>{{row.tranportName}}</td>
            <td>
              <p-tag [severity]="ParcelStatusHelper.getParcelStatusColor(row.parcelStatus)" [value]="ParcelStatusHelper.getParcelStatusText(row.parcelStatus)" />
            </td>
            <td>
              <span class="px-2 py-1 rounded bg-blue-50 text-blue-600 cursor-pointer hover:bg-blue-100"
                 (click)="openMenu($event, row)">
                  <i class="pi pi-ellipsis-v"></i>
               </span>
            </td>
          </tr>
        </ng-template>

      </p-table>
    </ng-container>

</p-card>

<p-menu #menu [model]="items" [popup]="true"></p-menu>


