<div class="dashboard-container" *ngIf="data() as parcel">

 <div class="row g-3" style="margin-bottom: 20px;">
  <div class="col-md-4" *ngFor="let c of cards()">

    <div class="card shadow-sm h-100">

      <!-- Header -->
      <div class="card-body d-flex align-items-center gap-3">
        <div
          class="d-flex justify-content-center align-items-center rounded-circle text-white"
          [ngStyle]="{ 'background': c.color, width: '40px', height: '40px' }"
        >
          <i [class]="c.icon" style="font-size: 18px;"></i>
        </div>

        <h5 class="card-title mb-0" >{{ c.title }}</h5>
      </div>

      <!-- Value -->
      <div class="card-body pt-0">
        <h3 class="fw-bold" style="margin-left: 4px;">{{ c.value }}</h3>
      </div>

      <hr class="my-0" />

      <!-- Footer -->
      <div class="card-body py-2">
        <a [routerLink]="c.url" class="text-primary" style="font-size: 14px;">
          <i class="bi bi-send"></i> Go to List
        </a>
      </div>

    </div>

  </div>
</div>

  <div class="tables">
    <div class="table-card purple">
      <h4>Latest Parcel</h4>
      <p>New parcel latest report on {{ date | date:'longDate' }}</p>
      <p-table [value]="parcel.latestSaleVouchers" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>Parcel no.</th>
            <th>Date</th>
            <th>Transport</th>
            <th>Quantity</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td>{{ row.saleVoucherId }}</td>
            <td>{{ row.date| date:'mediumDate' }}</td>
            <td>{{ row.transportName }}</td>
            <td>{{ row.productQuantity }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="table-card red">
      <h4>Delivery Parcel</h4>
      <p>New parcel open on {{ date | date:'longDate' }}</p>
      <p-table [value]="[]" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>Parcel no.</th>
            <th>Date</th>
            <th>Transport</th>
            <th>Quantity</th>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
