
<div class="card" *ngIf="printData()">
    <p-tabs [value]="value">
        <p-tablist>
            <p-tab [value]="0">Product Sticker</p-tab>
            <p-tab [value]="1">Dispatch Voucher</p-tab>
            <p-tab [value]="2">Parcel Sticker</p-tab>
            <p-tab [value]="3">Supplier Bill</p-tab>
            <p-tab [value]="4">Sale Voucher</p-tab>
        </p-tablist>
        <p-tabpanels>
         <p-tabpanel [value]="2">

    <!-- Screen Buttons -->
    <div class="no-print parcel-actions">
        <p-button
            label="Cancel"
            [raised]="true"
            icon="pi pi-times"
            severity="secondary"
            (click)="cancel()">
        </p-button>

        <p-button
            label="Print"
            [raised]="true"
            icon="pi pi-print"
            severity="success"
            class="ml-2"
            (click)="printPage('print-section')">
        </p-button>
    </div>

    <div class="print-note no-print">
        ⚠️ Note: This sticker must be affixed to the parcel.
    </div>

    <!-- =========================
         PARCEL STICKER
    ========================== -->
    <div id="print-section" class="parcel-print-area">

        <div class="parcel-sticker">

            <!-- HEADER -->
            <div class="parcel-header">

                <div class="parcel-company-name">
                    {{ printData()?.saleVoucherPrint?.companyName }}
                </div>

                <div class="parcel-company-address">
                    {{ printData()?.saleVoucherPrint?.address }}
                </div>

                <div class="parcel-contact-row">

                    <span>
                        <b>PH:</b>
                        {{ printData()?.saleVoucherPrint?.phone }}
                    </span>

                    <span>
                        <b>GSTIN:</b>
                        {{ printData()?.saleVoucherPrint?.gstIn }}
                    </span>

                </div>

            </div>


            <!-- TITLE BAR -->
            <div class="parcel-title-bar">

                <div class="parcel-title">
                   PARCEL STICKER
                </div>

                <div class="parcel-date">
                    DATE:
                    <b>
                        {{ printData()?.saleVoucherPrint?.date
                            | date:'dd-MMM-yyyy' }}
                    </b>
                </div>

            </div>


            <!-- BODY -->
            <div class="parcel-body">

                <!-- LEFT DETAILS -->
                <div class="parcel-details">


                    <!-- Dispatch -->
                    <div class="parcel-detail-row highlight-row">

                        <div class="parcel-label">
                            DISPATCH NO.
                        </div>

                        <div class="parcel-value dispatch-number">
                            {{ printData()?.saleVoucherPrint?.id }}
                        </div>

                    </div>


                    <!-- Department -->
                    <div class="parcel-detail-row">

                        <div class="parcel-label">
                            DEPARTMENT
                        </div>

                        <div class="parcel-value">
                            {{ printData()?.supplierPrint?.department }}
                            -
                            {{ printData()?.supplierPrint?.subDepartment }}
                        </div>

                    </div>


                    <!-- Invoice -->
                    <div class="parcel-detail-row">

                        <div class="parcel-label">
                            INVOICE NO.
                        </div>

                        <div class="parcel-value">
                            {{
                                printData()?.saleVoucherPrint?.inVoiceNo
                                || '-'
                            }}
                        </div>

                    </div>


                    <!-- Supplier -->
                    <div class="parcel-detail-row">

                        <div class="parcel-label">
                            SUPPLIER
                        </div>

                        <div class="parcel-value">
                            {{ printData()?.supplierPrint?.supplierCode }}
                        </div>

                    </div>


                    <!-- Transport -->
                    <div class="parcel-detail-row">

                        <div class="parcel-label">
                            TRANSPORT
                        </div>

                        <div class="parcel-value transport-name">
                            {{
                                printData()?.saleVoucherPrint?.transportName
                                || '-'
                            }}
                        </div>

                    </div>


                    <!-- Particulars -->
                    <div class="parcel-detail-row particulars-row">

                        <div class="parcel-label">
                            PARTICULARS
                        </div>

                        <div class="parcel-value">
                            {{ getItemSummary() }}
                        </div>

                    </div>

                </div>


                <!-- RIGHT BARCODE -->
                <div class="parcel-barcode-section">

                    <div class="barcode-heading">
                        DISPATCH BARCODE
                    </div>

                    <div class="parcel-barcode">

                        <ngx-barcode6
                            [bc-value]="
                                addPrefixIfThreeDigit(
                                    printData()?.saleVoucherPrint?.id
                                )
                            "
                            [bc-format]="'CODE128B'"
                            [bc-width]="2"
                            [bc-height]="90"
                            [bc-display-value]="true"
                            [bc-font-size]="16"
                            [bc-margin]="5"
                            [bc-margin-top]="2"
                            [bc-margin-bottom]="2">
                        </ngx-barcode6>

                    </div>

                    <div class="barcode-number">
                        DISPATCH #
                        {{ printData()?.saleVoucherPrint?.id }}
                    </div>

                </div>

            </div>


            <!-- FOOTER -->
            <div class="parcel-footer">

                <div class="parcel-footer-message">
                    HANDLE WITH CARE • VERIFY DISPATCH BEFORE DELIVERY
                </div>

                <div class="parcel-footer-company">
                    {{ printData()?.saleVoucherPrint?.companyName }}
                </div>

            </div>

        </div>

    </div>

</p-tabpanel>
            <p-tabpanel [value]="1">
                <p-button label="Cancel" [raised]="true" icon="pi pi-times" severity="secondary" (click)="cancel()"></p-button>
                <p-button label="Print" [raised]="true" icon="pi pi-print" severity="success" class="ml-2" (click)="printPage('parcel-salevoucher')"></p-button>
                
                 <hr>
                <div class="print-note no-print">
    ⚠️ Note: This Dispatch voucher must be attached with the packing slip.
</div>   
                <hr>
              <div id="parcel-salevoucher">
                    <div style="text-align: center;" > <h4><b><u>DISPATCH VOUCHER</u></b></h4></div>
                    <hr>
                    <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                                 <h2>{{ printData()?.saleVoucherPrint?.companyName }}</h2>
                                 <strong style="text-align: center;">{{ printData()?.saleVoucherPrint?.address }}</strong>
                            </div>
                     </div>  
                    <hr style="border: 1px solid">
                    <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                    <h6><b><u>{{printData()?.saleVoucherPrint?.companyName}}</u></b></h6>
                                    <strong>DISPATCH NO :</strong>{{printData()?.saleVoucherPrint?.id}}<br>
                                    <strong>DISPATCH DATE :</strong>{{printData()?.saleVoucherPrint?.date | date}}<br>
                                    <strong>GSTIN NO :</strong> {{printData()?.saleVoucherPrint?.gstIn}} <br>
                                    <strong>PHONE :</strong> {{printData()?.saleVoucherPrint?.phone}} 
                                 
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                                    <h6><b><u>Supplier Detail</u></b></h6>
                                    <strong>M/S :</strong>{{ printData()?.supplierPrint?.name }}<br>
                                    <strong>INVOICE NO :</strong>{{ printData()?.saleVoucherPrint?.inVoiceNo || '-' }}<br>
                                    <strong>GSTIN NO :</strong>{{ printData()?.supplierPrint?.gstIn }}<br>
                                    <strong>TRANSPORT :</strong>{{ printData()?.saleVoucherPrint?.transportName}}<br>
                            </div>
                    </div>  
                    <hr style="border: 1px solid">
                <table class="table table-bordered"> 
                     <thead>
                         <tr>
                           <th>S.No.</th>
                           <th>Product</th>
                           <th>HSNCode</th>
                           <th>Qty</th>
                        </tr>
                   </thead>
                   <tbody>
                         <tr *ngFor="let p of (printData()?.billingDetailPrints || []); let idx = index">
                             <td>{{idx+1}}</td>
                             <td>{{p.productName}}</td>
                             <td>{{p.hsnCode}}</td>
                             <td>{{p.qty}}</td>
                         </tr>
                 </tbody>
                  <tfoot>
                      <tr>
                        <th colspan="3" class="text-end">Total</th>
                        <th>{{ getTotalQty() }}</th>
                      </tr>
                  </tfoot>
                </table>
                <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8">
                            <br>
                          {{printData()?.saleVoucherPrint?.companyName}} 
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 ">
                            <div class="text-right">
                            <ngx-barcode6 [bc-value]="addPrefixIfThreeDigit(printData()?.saleVoucherPrint?.id)" [bc-format]="'CODE128B'" [bc-display-value]="false" [bc-font-size]="15" [bc-height]="40" [bc-display-value]="true" ></ngx-barcode6>   
                            </div>
                        </div>
                </div>  
              </div>
            </p-tabpanel>
            <p-tabpanel [value]="0">
                <p-button label="Cancel" [raised]="true" icon="pi pi-times" severity="secondary" (click)="cancel()"></p-button>
                <p-button label="Print" [raised]="true" icon="pi pi-print" severity="success" class="ml-2" (click)="printPage('sticker-print-section')"></p-button>
                   <hr>
            <div id="sticker-print-section">
              <div *ngFor="let sticker of printData()?.stickerPrints" class="sticker-print-item">
                <div class="app-sticker" [ngStyle]="stickerStyle(sticker)">
                  <ng-container *ngFor="let field of fields(sticker)">
                    <div
                      *ngIf="field.fieldKey !== 'barcode'"
                      class="sticker-field"
                      [class.company-code]="field.fieldKey === 'companyShortName'"
                      [class.slot-hidden]="!field.isVisible"
                      [ngStyle]="fieldStyle(field, sticker)">
                      {{ fieldValue(sticker, field.fieldKey) }}
                    </div>

                    <div
                      *ngIf="field.fieldKey === 'barcode'"
                      class="sticker-field barcode-field"
                      [class.slot-hidden]="!field.isVisible"
                      [ngStyle]="fieldStyle(field, sticker)">
                    <ngx-barcode6
                      [bc-value]="sticker.barcode"
                      [bc-format]="'CODE128B'"
                      [bc-width]="3"
                      [bc-height]="30"
                      [bc-margin]="0"
                      [bc-font-size]="14"
                      [bc-display-value]="false"
                      [bc-margin-top]="0"
                      [bc-margin-bottom]="0">
                    </ngx-barcode6>
                    </div>
                  </ng-container>
                </div>
             </div>
           </div>
            </p-tabpanel>
            <p-tabpanel [value]="3">
                <p-button label="Cancel" [raised]="true" icon="pi pi-times" severity="secondary" (click)="cancel()"></p-button>
                   <hr>
                   <div id="supplier-bill">
                    <div style="text-align: center;" > <h4>Purchase invoice</h4></div>
                    <hr>
                    <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                    <h6><b><u>{{printData()?.saleVoucherPrint?.companyName}}</u></b></h6>
                                    <ngx-barcode6
      [bc-value]="addPrefixIfThreeDigit( printData()?.saleVoucherPrint?.id)"
      [bc-format]="'CODE128B'"
      [bc-width]="2"
      [bc-height]="50"      
      [bc-display-value]="true"     
      [bc-margin]="10"     
      [bc-display-value]="false"
      [bc-margin-top]="2"
      [bc-margin-bottom]="2">
      >
    </ngx-barcode6>
                                    <strong>DISPATCH NO :</strong>{{printData()?.saleVoucherPrint?.id}}<br>
                                    <strong>DISPATCH DATE :</strong>{{printData()?.saleVoucherPrint?.date | date}}<br>
                                    <strong>GSTIN NO :</strong> {{printData()?.saleVoucherPrint?.gstIn}}  <br>
                                    <strong>PHONE :</strong> {{printData()?.saleVoucherPrint?.phone}}
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                                    <h6><b><u>Supplier Detail</u></b></h6>
                                    <strong>M/S :</strong>{{ printData()?.supplierPrint?.name }}<br>
                                    <strong>INVOICE NO :</strong>{{ printData()?.saleVoucherPrint?.inVoiceNo || '-' }}<br>
                                    <strong>GSTIN NO :</strong>{{ printData()?.supplierPrint?.gstIn }}<br>
                                    <strong>TRANSPORT :</strong>{{ printData()?.saleVoucherPrint?.transportName}}<br>
                            </div>
                    </div>  
                    <hr style="border: 1px solid">
                <table class="table table-bordered"> 
                     <thead>
                         <tr>
                           <th>S.No.</th>
                           <th>Description of Goods</th>
                           <th>HSN</th>
                           <th>Gst Rate</th>
                           <th>Quantity</th>
                           <th>Rate</th>
                           <th>Amount</th>
                           <th>Disc (%)</th>                           
                           <th>Taxable</th>
                           <th>CGST</th>
                           <th>SGST</th>
                           <th>IGST</th>
                           <th>Payable</th>
                        </tr>
                   </thead>
                   <tbody>
                         <tr *ngFor="let p of (printData()?.billingDetailPrints || []); let idx = index">
                             <td>{{idx+1}}</td>
                             <td>{{p.productName}}</td>
                             <td>{{p.hsnCode}}</td>
                             <td>{{p.gst}}</td>
                             <td>{{p.qty}} Pcs</td>
                             <td>{{p.purchasePrice  | currency:'INR':'symbol':'1.2-2'}}</td>
                             <td>{{p.total  | currency:'INR':'symbol':'1.2-2'}}</td>
                             <td>{{p.supplierDiscount }}</td>                             
                             <td>{{p.discountAmount  | currency:'INR':'symbol':'1.2-2'}}</td>
                              <td>{{(p.cgst||0)| currency:'INR':'symbol':'1.2-2'}}</td>
                               <td>{{(p.sgst||0)| currency:'INR':'symbol':'1.2-2'}}</td>
                                <td>{{(p.igst||0)| currency:'INR':'symbol':'1.2-2'}}</td>
                                 <td>{{(p.payableAmount ||0)  | currency:'INR':'symbol':'1.2-2'}}</td>
                         </tr>
                 </tbody>
                  <tfoot>
                      <tr>
                        <th colspan="4" class="text-end">Total</th>
                        <th>{{ getTotalQty() }} Pcs</th>
                        <th colspan="1" class="text-end">Amount</th>
                        <th>{{ getTotalAmount() | currency:'INR':'symbol':'1.2-2' }}</th>
                        <th class="text-end"></th>
                        <th>{{ getTotalDiscAmount() | currency:'INR':'symbol':'1.2-2' }}</th>
                      <th>{{ getRowCGST() | currency:'INR':'symbol':'1.2-2' }}</th>
                      <th>{{ getRowSGST() | currency:'INR':'symbol':'1.2-2' }}</th>
                      <th>{{ getRowIGST() | currency:'INR':'symbol':'1.2-2' }}</th>
                      <th>{{ getTotalPayableAmount() | currency:'INR':'symbol':'1.2-2' }}</th>
                      
                      </tr>                      
                  </tfoot>
                </table>
                <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8">
                            <br>
                          {{printData()?.saleVoucherPrint?.companyName}}                            
                        </div>
                </div>  
              </div>
            </p-tabpanel>
            <!-- ================= DISPATCH VOUCHER ================= -->
<p-tabpanel [value]="4">

    <!-- Buttons -->
    <p-button 
        label="Cancel" 
        [raised]="true" 
        icon="pi pi-times" 
        severity="secondary" 
        (click)="cancel()">
    </p-button>

    <p-button 
        label="Print" 
        [raised]="true" 
        icon="pi pi-print" 
        severity="success" 
        class="ml-2" 
        (click)="printPage('dispatch-voucher')">
    </p-button>

    <hr>

    <div class="print-note no-print">
        ⚠️ Note: This Sale voucher must be attached inside the Parcel.
    </div>

    <hr>

    <div id="dispatch-voucher">

        <!-- Title -->
        <div style="text-align: center;">
            <h4>
                <b>
                    <u>SALE VOUCHER</u>
                </b>
            </h4>
        </div>

        <hr>

        <!-- Company Header -->
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 text-center">

                <h2>
                    {{ printData()?.saleVoucherPrint?.companyName }}
                </h2>

                <strong>
                    {{ printData()?.saleVoucherPrint?.address }}
                </strong>

            </div>

        </div>

        <hr style="border: 1px solid">

        <!-- Voucher Details -->
        <div class="row">

            <!-- Left -->
            <div class="col-xs-6 col-sm-6 col-md-6">

                <h6>
                    <b>
                        <u>
                            {{ printData()?.saleVoucherPrint?.companyName }}
                        </u>
                    </b>
                </h6>

                <strong>DISPATCH NO :</strong>
                {{ printData()?.saleVoucherPrint?.id }}
                <br>

                <strong>DISPATCH DATE :</strong>
                {{ printData()?.saleVoucherPrint?.date | date }}
                <br>

                <strong>GSTIN NO :</strong>
                {{ printData()?.saleVoucherPrint?.gstIn }}
                <br>
                <strong>PHONE :</strong>
                {{ printData()?.saleVoucherPrint?.phone }}

            </div>


            <!-- Right -->
            <div class="col-xs-6 col-sm-6 col-md-6 text-right">

                <h6>
                    <b>
                        <u>Supplier Detail</u>
                    </b>
                </h6>

                <strong>M/S :</strong>
                {{ printData()?.supplierPrint?.name }}
                <br>

                <strong>INVOICE NO :</strong>
                {{ printData()?.saleVoucherPrint?.inVoiceNo || '-' }}
                <br>

                <strong>GSTIN NO :</strong>
                {{ printData()?.supplierPrint?.gstIn }}
                <br>

                <strong>TRANSPORT :</strong>
                {{ printData()?.saleVoucherPrint?.transportName }}

            </div>

        </div>

        <hr style="border: 1px solid">


        <!-- Product Table -->
        <table class="table table-bordered sale-voucher-table">

            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Product</th>
                    <th>HSN Code</th>
                    <th>Qty</th>
                    <th class="rate-column">Rate</th>
                </tr>
            </thead>


            <tbody>

                <tr 
                    *ngFor="let p of (printData()?.billingDetailPrints || []); let idx = index">

                    <td>{{ idx + 1 }}</td>

                    <td>
                        {{ p.productName }}
                    </td>

                    <td>
                        {{ p.hsnCode }}
                    </td>

                    <td>
                        {{ p.qty }}
                    </td>

                    <!-- Wholesale Rate -->
                    <td class="rate-column">
                        {{ (p.wholeSalePrice || 0) 
                            | currency:'INR':'symbol':'1.2-2' }}
                    </td>
                   
                </tr>

            </tbody>


            <!-- Footer -->
            <tfoot>

                <tr>

                    <th colspan="3" class="text-end">
                        Total
                    </th>

                    <th>
                        {{ getTotalQty() }}
                    </th>

                    <th class="rate-column"></th>
                   

                </tr>

            </tfoot>

        </table>


        <!-- Footer -->
        <div class="row">

            <div class="col-xs-8 col-sm-8 col-md-8">

                <br>

                {{ printData()?.saleVoucherPrint?.companyName }}

            </div>


            <!-- Barcode -->
            <div class="col-xs-4 col-sm-4 col-md-4">

                <div class="text-right">

                    <ngx-barcode6
                        [bc-value]="addPrefixIfThreeDigit(
                            printData()?.saleVoucherPrint?.id
                        )"
                        [bc-format]="'CODE128B'"
                        [bc-width]="2"
                        [bc-height]="40"
                        [bc-display-value]="true"
                        [bc-font-size]="15">
                    </ngx-barcode6>

                </div>

            </div>

        </div>

    </div>

</p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>
